@model IEnumerable<FirstCoreApp.Models.Categories>

@{
    ViewData["Title"] = "Index";
}
<hr/>
<div class="container">

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th style="width:35%">
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>     